.container {
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  position: fixed;
  display: block;
  border: transparent;
  border-radius: 30px;
  background: linear-gradient(
    109.6deg,
    rgb(247, 202, 201) 20.6%,
    rgb(146, 168, 209) 85.9%
  );
}
form {
  text-align: center;
  margin-top: 20px;
}

button {
  text-align: center;
  border-radius: 4px;
  border: transparent;
  background-color: lavenderblush;
  box-shadow: 5%;
  font-size: 20px;
}

#searchButton:hover {
  cursor: pointer;
  border: solid;
  border-width: 0.5px;
  color: grey;
}

h1 {
  display: block;
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0%;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
li {
  list-style: none;
}

.emoji {
  text-align: center;
  font-size: 200px;
  display: inline;
  margin-top: 0%;
}

h2 {
  text-align: center;
  font-size: 100px;
  display: inline;
  margin-bottom: 0%;
}
a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
h6 {
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.row {
  font-size: 30px;
  padding-bottom: 10px;
}
